@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@import "tailwindcss";

:root {
  --background: #f8f6f6;
  --foreground: #1b0d10;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Manrope', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0
    'wght' 400
    'GRAD' 0
    'opsz' 24;
}